.first-block a {
    width: 140px;
    background-color: #3e5c4d;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 60px 25px;
    cursor: pointer;
    border-radius: 5px;
}

.buttons {
    float: right;
    margin-left: 100px;
    margin-top: -60px;
}

.first-block a:hover {
    background-color: #4C534C;
}

.accounts-header a:hover {
    background-color: #DEDEDE;
}

.accounts-header a {
    font-size: 18px;
    padding: 12px 14px;
    margin-top: -37px;
    margin-left: 5px;
    background-color: #F9F7F0;
    color: #344e41;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    float: right;
    border-radius: 5px;
}