.first-block a {
    background-color: #344e41;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
}

.buttons {
    width: 40%;
    float: right;
    margin-top: -65px;
    margin-right: -130px;
}

.first-block a:hover {
    background-color: #4C534C;
}

.accounts-header a:hover {
    background-color: #DEDEDE;
}

.accounts-header a {
    font-size: 18px;
    padding: 12px 14px;
    margin-top: -37px;
    margin-left: 5px;
    background-color: #4C534C;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    float: right;
    border-radius: 5px;
}