html {
    box-sizing: border-box;
    background-color: #FCFCFC;
    font-family: sans-serif;
}

main {
    padding-left: 220px;
    padding-right: 25px;
    height: 1000px;
}

h3 {
    color: #344e41;
    text-align: center;
}

.menu-bar {   
    margin-left: -10px; 
    width: 210px;
    background-color: #dad7cd;
    position: fixed;
    height: 110%;
    margin-top: -10px;
}

.menu-bar a {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 25px;
    color: #16241e;
    display: block;
}

.menu-bar a:hover {
  background-color: #FCFCFC;
}

.heading {
    width: 900px;
    color: #344e41;
    font-size: 18px;
    margin: 10px 40px;
}

footer {
    position: relative;
    z-index: 1;
    margin-top: 52px;
    bottom: 0;
    width: 180px;
    background-color: #dad7cd;
    color: black;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: left;
    font-size: 15px;
    border-top: 1px solid rgba(136, 136, 136, 0.333);
}

.footer-bar a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.footer-bar a:hover {
    color: #FCFCFC;
}

