.first-block {
    margin-top: -1%;
    display: flex;
}

.second-block {
    display: flex;
}

.balance-item {
    width: 70%;
    background-color: #C5CEB6;
    color: #344e41;
    padding: 0% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5% 8%;
    font-size: 21px;
}

.balance-all {
    width: 40%;
    display: table;
}


.third-block {
    display: flex;
}

.history {
    width: 60%;
    background-color: #DAD7CD;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 0%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  padding: 3%;
}

table th {
  text-align: left;
  background-color: #344e41;
  color: white;
}

table tr:nth-child(even){background-color: #ECE8DD;}

.month-balance-all {
    margin-top: 0.3%;
    width: 35%;
    display: table;
}

.month-balance-item {
    width: 75%;
    background-color: #C5CEB6;
    color: #344e41;
    padding: 1% 6%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5% 13%;
}
