body {
    font-family: "Lato", sans-serif;
}

main {
  padding-left: 230px;
  padding-right: 50px;
  height: 1000px;
}


.menu-bar {   
    margin-left: -11px; 
  width: 200px;
  background-color: #dad7cd;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.menu-bar a {
    padding: 15px 30px 15px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #16241e;
    display: block;
}

.menu-bar a:hover {
  background-color: #a3b18a;
}

.first-block {
    margin-top: -20px;
    display: flex;
}

.heading {
    width:70%;
    color: #344e41;
    font-size: 18px;
    margin: 10px 50px;
}

.button {
    width: 11%;
    background-color: #588157;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 60px 40px 60px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #3a5a40;
  }

.balance-all {
    display:flex;
}

.balance-item {
    width: 33%;
    background-color: #DAD7CD;
    color: #344e41;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 30px 30px;
}

.second-block {
    display: flex;
}

.balance-all {
    width: 40%;
    display: table;
}

.balance-item {
    width: 70%;
    font-size: 21px;
    padding: 1px 5px;
    margin: 10px 40px;
}

.graph-expense {
    width: 60%;
}

.third-block {
    display: flex;
}

.graph-categories {
    width: 60%;
}

.month-balance-all {
    margin-top: 0;
    width: 35%;
    display: table;
}

.month-balance-item {
    width: 75%;
    background-color: #DAD7CD;
    color: #344e41;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 110px;
}

img {
    padding: 30px 50px;
    width: 100px;
    height: 100px;
}