body {
    font-family: "Lato", sans-serif;
}

main {
    padding-left: 15%;
    padding-right: 5%;
    height: 1000px;
}

.menu-bar {   
    margin-left: -1%; 
    width: 14%;
    background-color: #dad7cd;
    position: fixed;
    height: 100%;
    overflow: auto;
    margin-bottom: -5%;
}

.menu-bar a {
    padding: 6% 13%;
    text-decoration: none;
    font-size: 25px;
    color: #16241e;
    display: block;
}

.menu-bar a:hover {
  background-color: #FCFCFC;
}

.first-block {
    margin-top: -1%;
    display: flex;
}

.heading {
    width: 70%;
    color: #344e41;
    font-size: 18px;
    margin: 1% 4%;
}

.button {
    width: 11%;
    background-color: #6F8C6E;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5% 2%;
    cursor: pointer;
}

.button:hover {
    background-color: #3a5a40;
  }

.second-block {
    display: flex;
}

.balance-item {
    width: 70%;
    background-color: #C5CEB6;
    color: #344e41;
    padding: 0% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5% 8%;
    font-size: 21px;
}

.balance-all {
    width: 40%;
    display: table;
}

.graph-expense {
    width: 58%;
    padding: 2% 5%;
    margin-bottom: 4%;
}

.third-block {
    display: flex;
}

.history {
    width: 60%;
    background-color: #DAD7CD;
    list-style: none;
    padding-left: 3%;
    padding-bottom: 4%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 0%;
}

.history li {
    position: relative;
    padding: 5% 5%;
    color: #344e41;
    font-variant: small-caps;
    font-size: 20px;
  }

.month-balance-all {
    margin-top: 0.3%;
    width: 35%;
    display: table;
}

.month-balance-item {
    width: 75%;
    background-color: #C5CEB6;
    color: #344e41;
    padding: 1% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5% 10%;
}

img {
    padding: 15% 26%;
    width: 100px;
    height: 100px;
}

footer {
    font-family: "Lato", sans-serif;
    width: 80%;
    background-color: #DAD7CD;
    color: #344e41;
    margin-top: 10%;
    margin-left: 16%;
    padding: 0.5%;
    text-align: center;
}

.footer-bar a {
    text-decoration: none;
    font-size: 25px;
    color: #16241e;
    display: block;
}

.footer-bar a:hover {
  color: #FCFCFC;
}